.PokemonCard {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: bold;
    color: black;

    &__image {
        height: 4rem;
    }

    &:hover {
        background-color: #eee;
    }
}