.DetailPage {
    display: flex;

    &__info {
        flex: 1 0 50%;
        padding: 4rem;

        & > div {
            margin-bottom: 1rem;
        }

        &__profile-picture {
            img {
                height: 10rem;
                display: block;
                margin: 0 auto;
            }
            span {
                margin-top: 1rem;
                display: block;
                text-align: center;
            }
        }

        &__description {
            text-align: justify;
        }
    }

    &__location {
        flex: 1 0 50%;
        display: flex;
        padding: 2rem;

        &__map {
            border: 1px solid #ccc;
            width: 100%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}