.MainPage {
    width: 80%;
    margin: 0 auto;

    &__filters {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        & > .ToggleButton {
            margin-bottom: 1rem;
        }
    }

    &__cards {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        text-align: center;
        padding: 1rem 0;
    }
}